body {
    font-family: Helvetica;
    margin: 0;
    background-color: #d3dcec;
}
h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    font-weight: 400;
}
h4{
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 20px;
}
input{
    border-radius: 8px;
    border: 1px solid #564D80;
    color: #564D80;
    background-color: #f2f4f9;
    margin-bottom: 5px ;
}
input:focus, button:focus{
    outline: none;
}

/* Main App Style
================================ */

.main-header {
    background-color: #034f84;
    color: #bdcae3;
    overflow: hidden;
    padding: 0.5rem;
    margin-bottom: 20px;
}
.main-header h1 {
    line-height: 1;
    margin: 0;
    font-weight: 400;
}
.main-header a {
    color: white;
    text-decoration: none;
}
.main-content {
    padding: 0.5rem;
}

/* Search Form Component Style
================================ */

.search-form{
    margin-bottom: 20px;
}
.search-page {
    text-align: center;
    color: #564D80;
}
.search-page h2{
    font-size: 22px;
}
.search-page__input {  
    width: 180px;
    padding: 0.3em;
    margin-right: 1em;
    font-size: 20px;
}
.search-page__button {
    border-radius: 12px;
    padding: 5px 9px;
    background-color: #8882a6;
    color: white;
    font-size: 19px;
    margin-top: 10px;
}
.search-page__button {
    transition-duration: 70ms;
}
.search-page__button:hover {
    background-color: #777099 ; 
}

/* User Page Style
================================ */

.user-page{
    color: #564D80;
    font-size: 20px;
}
.user-info {
    display: flex;
    flex-wrap: wrap;
}
.user-info__avatar {
    border-radius: 35%;
    width: 85px;
    height: 85px;
    margin-right: 1em;
    float: left;
}
.user-info__text {
    text-decoration: none;
    flex: 1;
}
.user-info__title, .user-info__bio {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user-search-bar {
    width: 155px;
    padding:  5px 9px;
    margin-left: 12px;
    font-size: 16px;
}

/* === User's Repo List Results Style === */

.user-repos, .followers-usernames {
    margin-left: 25%;
}
.user-repos__title {
    padding-top: 10px;
}
.user-repos__list {
    font-size: 1.1em;
}
.user-repos__star { 
    padding-left: 10px; 
    padding-right: 10px;
    display: inline-block;
    color: black; 
}

/* Followers Page Style
================================ */

.followers-page {
    color: #564D80;
}
.followers-title {
    font-size: 1.5em;
    padding-top: 10px;
}
.followers-list{
    font-size: 1.3em;
}

/* Media Queries
================================ */

@media (min-width: 1px) and (max-width: 450px)  {
    .user-repos, .followers-usernames {
        margin-left: 0;
    }   
    .search-page__input{
        display: block;
        margin: 10px auto;
    }
}
